# gitignore template for Drupal 8 projects
#
# earlier versions of Drupal are tracked in `community/PHP/`

# Ignore configuration files that may contain sensitive information
/project/web/sites/*/*settings*.php
/project/web/sites/*/*services*.yml

# Ignore paths that may contain user-generated content
/project/web/sites/*/files
/project/web/sites/*/public
/project/web/sites/*/private
/project/web/sites/*/files-public
/project/web/sites/*/files-private

# Ignore paths that may contain temporary files
/project/web/sites/*/translations
/project/web/sites/*/tmp
/project/web/sites/*/cache

# Ignore testing related files
/project/web/sites/simpletest

# Ignore drupal core (if not versioning drupal sources)
/project/web/core
/project/web/modules/README.txt
/project/web/profiles/README.txt
/project/web/sites/README.txt
/project/web/sites/example.sites.php
/project/web/sites/example.settings.local.php
/project/web/sites/development.services.yml
/project/web/themes/README.txt
/project/web/vendor
/project/web/.csslintrc
/project/web/.editorconfig
/project/web/.eslintignore
/project/web/.eslintrc.json
/project/web/.gitattributes
/project/web/.htaccess
/project/web/.ht.router.php
/project/web/autoload.php
/project/web/composer.json
/project/web/composer.lock
/project/web/example.gitignore
/project/web/index.php
/project/web/INSTALL.txt
/project/web/LICENSE.txt
/project/web/README.txt
/project/web/robots.txt
/project/web/update.php
/project/web/web.config

/DATA
/DATA/*

/project/vendor
/.idea